<section class="mx-auto max-w-4xl">
  <h1 class="text-3xl font-bold mb-4">Dashboard</h1>
  <% if Current.user %>
    <p class="text-gray-700 mb-6">Signed in as <span class="font-medium"><%= Current.user.email_address %></span></p>
  <% end %>

  <div class="flex items-center gap-3">
    <%= button_to "Sign out", session_path, method: :delete, class: "rounded-md px-3.5 py-2.5 bg-gray-800 hover:bg-gray-700 text-white font-medium" %>
  </div>
</section>


